<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingAppTeam17"
        tools:targetApi="31">
        <activity
            android:name=".activities.authentication.RegistrationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.authentication.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.account.EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="Cozy Cabins"
            android:theme="@style/Theme.BookingAppTeam17">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.BookingAppTeam17">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".activities.accommodation.AccommodationDetailActivity"
            android:screenOrientation="portrait"
            android:label="Accommodation Details"
            android:theme="@style/Theme.BookingAppTeam17"/>
        <activity
            android:name=".activities.accommodation.HostAccommodationDetailActivity"
            android:screenOrientation="portrait"
            android:label="Host Accommodation Details"
            android:theme="@style/Theme.BookingAppTeam17"/>
        <activity
            android:name=".activities.accommodation.RegisterAccommodationActivity"
            android:screenOrientation="portrait"
            android:label="Register Accommodation"
            android:theme="@style/Theme.BookingAppTeam17"/>
        <activity
            android:name=".activities.accommodation.SetPeriodActivity"
            android:screenOrientation="portrait"
            android:label="Set Periods"
            android:theme="@style/Theme.BookingAppTeam17"/>
        <activity
            android:name=".activities.accommodation.AccommodationReportActivity"
            android:screenOrientation="portrait"
            android:label="Accommodation Report"
            android:theme="@style/Theme.BookingAppTeam17"/>
        <activity
            android:name=".activities.accommodation.FavoriteAccommodationsActivity"
            android:screenOrientation="portrait"
            android:label="Favorite Accommodation"
            android:theme="@style/Theme.BookingAppTeam17"/>

        <activity
            android:name=".activities.review.RateHostActivity"
            android:screenOrientation="portrait"
            android:label="Rate Host"
            android:theme="@style/Theme.BookingAppTeam17"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>